        <div>
          <ul>
            <li class = "normal"><a href = "#"> Home </a></li>
            <li class = "subLi"><a href = "#">About </a>
              <span>
                <ul class = "nested">
                  <li> <a href = "#"> Our Team </a> </li>
                  <li> <a href = "#"> Our efforts </a> </li>
                </ul>
              </span>
            </li>
            <li class = "normal"><a href = "#"> Blog </a></li>
            <li class = "subLi"><a href = "#"> Services </a>
              <span>
                <ul class = "nested">
                  <li> <a href = "#"> Design </a> </li>
                  <li> <a href = "#"> Web </a> </li>
                  <li> <a href = "#"> Learn </a> </li>
                  <li> <a href = "#"> Invent </a> </li>
                </ul>
            </span>
            </li>
            <li class = "normal"><a href = "#"> Portfolio </a></li>
            <li class = "normal"><a href = "#"> Contact </a></li>
          </ul>
          </div>